:root { 
--blue_gray_50:#f0f0f3; 
--red_600:#f12b2b; 
--red_400:#eb5757; 
--green_700:#219653; 
--gray_50:#fafafa; 
--teal_500_19:#0e9d8f19; 
--teal_500:#0f9d8e; 
--black_900:#000000; 
--yellow_900:#f1722b; 
--gray_100_99:#f4f4f699; 
--yellow_900_19:#f1722b19; 
--blue_gray_900:#32323e; 
--red_A700:#ff0000; 
--gray_400:#bbbbc7; 
--blue_gray_200:#b1b1bd; 
--blue_gray_100:#d0d0d0; 
--gray_500:#919191; 
--blue_gray_500:#777792; 
--gray_900:#121212; 
--teal_50:#d9f6e5; 
--gray_200:#e8e8ed; 
--gray_300:#e3e3e3; 
--gray_100:#f4f4f6; 
--gray_100_01:#f3f3f5; 
--gray_200_99:#e8e8ed99; 
--white_A700:#ffffff; 
}